* {
    padding: 0;
    margin: 0;
}

.navbar {
    width:99%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    box-shadow: 0px 2px gray;
    position: fixed;
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.navbar a:hover {
    background-color: lightgray;
}


.header {
    height: 100vh;
    background-color: lightblue;
}

.menu {
    height: 100vh;
    background-color: lightcoral;
}

.about{
    height: 100vh;
    background-color: lightgreen;
}

.contact {
    height: 100vh;
    background-color: lightskyblue;
}